DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:54322/aio_tech_db"
EMBEDDING_DIMENSION=2048
SERPAPI_API_KEY=
GEMINI_API_KEY=
GENERATION_MODEL="gemini-2.5-flash"
EMBEDDING_MODEL="gemini-embedding-001"


